
:root {
    --header-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
}

.header-container {
    display: grid;
    grid-template-columns: auto;
    width: 100%;
    height: auto;
    > .header-content-wrapper {
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        justify-content: space-between;
        > .logo-title-content-wrapper {
            > .header-logo {

            }
        }
        > .header-options-cta-container {
            > .header-option__text {
                color: inherit;
                text-decoration: none;
                font-weight: 600;
                &:hover {
                    color: var(--primary-theme-color);
                }
            }
            .header-option__link {
                color: black;
                text-decoration: none;
                font-weight: 600;
                &:hover {
                    color: var(--primary-theme-color);
                }
            }
            // temporary styling for buttons in header component
            > .header-option__button .button-solid {
                background-color: black;
                padding: 4px 8px;
            }
            > .header-option__button .button-outline {

            }
        }
    }
}